html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  min-height: 100vh;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* H O M E   S E C T I O N */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  justify-content: space-between;
  padding: 30px 50px;
}
.nav-menu {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 14px;
  color: white;
  letter-spacing: 5px;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.5s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.city {
  width: 125px;
  font-size: 14px;
}
.city p {
  letter-spacing: 3px;
}
.home-content {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-title {
  font-size: 100px;
  font-family: "Work Sans";
}
.home-subtitle {
  font-size: 70px;
  font-family: Helvetica;
  color: black;
  -webkit-text-stroke: 1px white;
}

/* A B O U T   S E C T I O N */

#about {
  min-height: 100vh;
}
.about-content {
  color: white;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  height: 100%;
}
.about-left h1 {
  font-size: 80px;
}
.about-left p {
  margin-top: 30px;
  font-size: 25px;
}
.about-left .text p a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 115px;
  width: 100px;
}
.social-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.socials li {
  transition: .3s;
}
.socials li:hover {
  transform: translateX(5px);
}
.about-right {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
}
.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.char-img {
  height: 100%;
}

/* S K I L L */

.skill-content {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.skill-content h1 {
  font-size: 80px;
}
.skill-wrapper {
  user-select: none;
  margin-top: 50px;
  max-width: 700px;
}
.skill-wrapper p {
  font-family: Helvetica;
  font-size: 60px;
  font-weight: 1000;
  color: black;
  -webkit-text-stroke: 1px #fff;
  cursor: default;
}
.skill-wrapper p span {
  position: relative;
  top: 0;
  left: 0;
  font-family: Helvetica;
  font-size: 60px;
  font-weight: 1000;
  color: black;
  -webkit-text-stroke: 1px #fff;
  cursor: default;
}
.skill-wrapper p span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 0;
  color: white;
  transition: .4s;
}
.skill-wrapper p span:hover::before {
  width: 100%;
}

/* P R O J E C T   S E C T I O N */

.project-content {
  color: white;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.project-content h1 {
  font-size: 80px;
}
.project-wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-top, .box-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box-top {
  margin-bottom: 70px;
}
.box {
  width: 600px;
  position: relative;
}
.inner-box {
  position: absolute;
  right: -25px;
  bottom: 170px;
  opacity: 0;
  transition: .5s;
}
.inner-box h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.inner-box a {
  color: white;
  text-decoration: none;
  font-size: 25px ;
}
.box:hover .inner-box {
  opacity: 1;
  bottom: 200px;
}
.box img {
  width: 100%;
  transition: .3s;
  position: relative;
}
.box img::after {
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  transition: .3s;
}
.box:hover img {
  opacity: 0.8;
  transform: scale(0.95);
}